@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.btn-bk {
  @apply bg-none px-4 py-2 border border-black rounded-md;
}

.btn-teal {
  @apply bg-none px-4 py-2 border border-teal-400 text-teal-400 rounded-md;
}

.btn-sm {
  @apply bg-none px-3 py-2 border border-teal-400 text-teal-400 rounded-md;
}

.btn-bk:hover {
  @apply border-gray-700 text-gray-700;
}

.btn-bk:focus {
  @apply border-teal-500;
}

.btn-teal:hover {
  @apply bg-teal-400 text-white;
}

.layer-blur {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.8);
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}